@value typography: "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
@value text, text_type_digits-default, text_type_digits-medium from typography;

.price {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
	color: #FFFFFF;
}

.price svg {
	padding-left: 10px;
	width: 24px;
	height: 24px;
}

.sizeDefault {
	composes: text, text_type_digits-default;
}

.sizeLarge {
	composes: text_type_digits-medium;
}

.sizeLarge  svg {
	width: 33px;
	height: 33px;
}