.price {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	text-align: right;
}

.price svg {
	padding-left: 10px;
	width: 24px;
	height: 24px;
}

.sizeLarge svg {
	width: 33px;
	height: 33px;
}