@value ml-8, mt-4 from "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";

.container {
	margin-top: 100px;
	max-height: calc(100vh - 88px - 100px - 20px); /* viewportHeight - header - marginTop */
}

.bun {
	display: block;
}

.bunElement {
	composes: ml-8;
}

.emptyConstructorItem {
	composes: ml-8;
	border-radius: var(--common-border-radius-s);
	padding: 16px 24px;
    display: inline-block;
    background: var(--background-element);
    max-width: 536px;
    min-height: 80px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
	text-align: center;
    align-content: center;
    flex-grow: 1;
    box-sizing: border-box;
	width: 100%;

}
.emptyConstructorItemPosTop {
	border-radius: var(--top-constructor-item-border-radius);
	
}

.emptyConstructorItemPosBottom {
	border-radius: var(--bottom-constructor-item-border-radius);
}

.list {
	display: flex;
	flex-direction: column;
	gap: 14px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	gap: 14px;
	max-height: calc(100vh - 88px - 100px - 20px - 180px - 88px); /* viewportHeight - header - marginTop - marginBottom - 2 buns - totalPrice */
	overflow-y: auto;
	overflow-x: hidden;
	width: calc(100% + 16px);
	padding-right: 16px;
	box-sizing: border-box;
}

.widthAuto {
	width: auto;
}

.onHover {
	outline: 1px solid #4C4CFF;
}

.total {
	composes: mt-4;
	display: flex;
	justify-content: right;
}
