@value paddings: "@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css";
@value pl-5, pr-5 from paddings;

.wrapper {
	composes: pl-5, pr-5;
	display: flex;
	width: 100%;
	max-width: 1285px;
	margin: 0 auto;
	box-sizing: border-box;
}