@value typography: "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
@value text, text_type_main-default, text_type_main-medium, text_color_inactive, text_type_digits-default from typography;

.container {
	display: flex;
	flex-direction: column;
	width: 640px;
	margin: 0 auto;
	padding-top: 60px;
}

.orderId {
	text-align: center;
	composes: text, text_type_digits-default;
	margin-bottom: 40px;
}

.title {
	composes: text, text_type_main-medium;
	text-align: left;
}

.status {
	composes: text, text_type_main-default;
	margin-top: 12px;
	text-align: left;
}

.statusDone {
	color: #00CCCC;
}

.consistContainer {
	margin-top: 60px;
}

.consistList {
	margin-top: 24px;
	max-height: 310px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.item {
	display: flex;
	align-items: center;
}

.imageBox {
	position: relative;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border: solid 2px transparent;
	border-radius: 50%;
	background-color: #131316;
}

.imageBox:before {
	content: '';
	position: absolute;
	inset: -2px;
	border-radius: 50%;
	padding: 2px;
	background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
	-webkit-mask: 
		linear-gradient(#fff 0 0) content-box, 
		linear-gradient(#fff 0 0);
	-webkit-mask-composite: xor;
			mask-composite: exclude; 
}

.imageBox img {
	width: 64px;
	height: 90%;
	object-fit: cover;
	border-radius: 50%;
	background-color: #131316;
}

.name {
	composes: text, text_type_main-default;
	flex-wrap: wrap;
	margin-left: 16px;
	max-width: 320px;
	text-align: left;
}

.details {
	composes: text, text_type_digits-default;
	margin-left: auto;
}

.totalOrder {
	display: flex;
	margin-top: 40px;
}

.date {
	composes: text, text_type_main-default, text_color_inactive;
	margin-right: auto;
}