@value typography: "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
@value text, text_type_main-default from typography;

:root {
	--header-bg-color: #1C1C21;
}

html, body {
  height: 100%;
}

.header {
	position: relative;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
	height: 88px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1285px;
	margin: 0 auto;
	box-sizing: border-box;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav {
	display: flex;
	align-self: center;
	width: 100%;
}

.link {
	composes: text, text_type_main-default;
	display: inline-flex;
	text-decoration: none;
	color: #8585AD;
	padding: 20px;
	transition: all .3s;
}

.link:not(.navLinkLast) {
	margin-right: 8px;
}

.link svg {
	transition: all .3s;
}

.link:hover {
	color: #F2F2F3;
}

.link:hover svg {
	fill: #F2F2F3;
}

.linkLast {
	margin-left: auto;
}

.linkActive {
	color: #F2F2F3;
}

.navText {
	padding-left: 8px;
}