@value typography: "@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css";
@value text, text_type_main-default from typography;

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	cursor: pointer;
	color: #FFF;
}

.name {
	composes: text, text_type_main-default;
	text-align: center;
	min-height: 48px;
	padding: 8px 0 4px;
}